/* GENERAL */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* COLOR FOR DIVS TEMPLATE AS CLASSES */

.green {
    background-color: green;
}

.purple {
    background-color: purple;
}

.red {
    background-color: tomato;
}

.blue {
    background-color: azure;
}

.pink {
    background-color: pink;
}

.yellow {
    background-color: yellow;
}

body {
    margin: 0;
    height: 100vh;
}

#ticker {
    position: relative;
    overflow: hidden;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

}

#headlines {
    position: absolute;
    left: 50%;
    white-space: nowrap;
    font-size: 40px;

}

#headlines a {
    padding-right: 50px;
    text-decoration: none;
    color: white;
    font-family: Helvetica;
}

h1 {
    background-color: rgb(255, 99, 71,0.8);;
    color: #000;
}

main {
    background-color: tomato;
    height: 100vh;
    width: 100%;
    position: relative;
    text-align: center;
}

main img {
    width: 300px;
    height: 300px; */
}

/.front {
    z-index: 5;
}

.back {
    z-index: 10;
}

.text {
    background-color: grey;
    height: 100px;
    width: 100%;
}

.bg-video {
    position: relative;
    top: 0;
    left: 0;
    height: 70vh;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
    overflow: hidden;


}

.bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.wrapper-gradient {
    background-color: rgb(255, 99, 71,0.7);
}
